
.svg-icon {
   cursor: pointer !important;
}


@media screen and (max-width: 768px) {
   .heartContainer {
    padding-top: 6rem;
   }

   .mobileText {
      transform-origin: center;
      transform: scale(1.6);
   }

    
}

@media screen and (min-width: 1338px) {

   .spacingDesktopDevice {
      padding-bottom: 10rem;
   }
}

